image: docker:git
services:
- docker:dind

stages:
  - build
  - test
  - deploy_staging
  - deploy_production

variables:
  IMAGE_BASE: registry.gitlab.com/danbadge/node-api
  PIPELINE_IMAGE_NAME: $IMAGE_BASE:$CI_PIPELINE_ID

before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com

build:
  stage: build
  script:
    - docker build -t $PIPELINE_IMAGE_NAME .
    - docker push $PIPELINE_IMAGE_NAME

test1:
  stage: test
  script:
    - docker run $PIPELINE_IMAGE_NAME npm test

test2:
  stage: test
  script:
    - docker run $PIPELINE_IMAGE_NAME npm test

deploy_staging:
  stage: deploy_staging
  environment: staging
  variables:
    HEROKU_APP_NAME: node-api-staging
  script:
    - HEROKU_TOKEN=$(docker run -e HEROKU_USER=${HEROKU_USER} -e HEROKU_PWD=${HEROKU_PWD} -v $(pwd)/scripts:/scripts --entrypoint /usr/bin/env driftrock/heroku-cli /scripts/heroku_token.sh)
    - docker login --email=_ --username=_ --password=${HEROKU_TOKEN} registry.heroku.com
    - docker tag $PIPELINE_IMAGE_NAME registry.heroku.com/$heroku_app_name/web
    - docker push registry.heroku.com/$heroku_app_name/web

deploy_production:
  stage: deploy_production
  environment: production
  variables:
    HEROKU_APP_NAME: node-api-production
  script:
    - HEROKU_TOKEN=$(docker run -e HEROKU_USER=${HEROKU_USER} -e HEROKU_PWD=${HEROKU_PWD} -v $(pwd)/scripts:/scripts --entrypoint /usr/bin/env driftrock/heroku-cli /scripts/heroku_token.sh)
    - docker login --email=_ --username=_ --password=${HEROKU_TOKEN} registry.heroku.com
    - docker tag $PIPELINE_IMAGE_NAME registry.heroku.com/$HEROKU_APP_NAME/web
    - docker push registry.heroku.com/$HEROKU_APP_NAME/web
