image: docker:git
services:
- docker:dind

stages:
  - build
  - test
  - deploy_staging
  - deploy_production

variables:
  IMAGE_BASE: registry.gitlab.com/danbadge/node-api
  PIPELINE_IMAGE_NAME: $IMAGE_BASE:$CI_BUILD_REF

before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com

build:
  stage: build
  script:
    - docker build -t $PIPELINE_IMAGE_NAME .
    - docker push $PIPELINE_IMAGE_NAME

test1:
  stage: test
  script:
    - docker run $PIPELINE_IMAGE_NAME npm test

test2:
  stage: test
  script:
    - docker run $PIPELINE_IMAGE_NAME npm test

driftrock_staging:
  image: driftrock/heroku-cli:shell
  stage: deploy_staging
  environment:
    name: staging
    url: https://node-api-staging.herokuapp.com/
  variables:
    HEROKU_APP_NAME: node-api-staging
  script:
    - ./scripts/heroku_deploy.sh
  only:
    - master

smartfocus_staging:
  image: driftrock/heroku-cli:shell
  stage: deploy_staging
  environment:
    name: staging
    url: https://node-api-staging.herokuapp.com/
  variables:
    HEROKU_APP_NAME: node-api-staging
  script:
    - ./scripts/heroku_deploy.sh
  when: manual
  only:
    - master

driftrock_production:
  stage: deploy_production
  environment:
    name: production
    url: https://node-api-production.herokuapp.com/
  variables:
    HEROKU_APP_NAME: node-api-production
  script:
    - docker run -e HEROKU_USER=${HEROKU_USER} -e HEROKU_PWD=${HEROKU_PWD} -e CI_ENVIRONMENT_NAME=${CI_ENVIRONMENT_NAME} -e HEROKU_APP_NAME=${HEROKU_APP_NAME} -e CI_BUILD_REF=${CI_BUILD_REF} -v $(pwd):/usr/src --entrypoint /bin/bash --workdir /usr/src driftrock/heroku-cli /usr/src/scripts/heroku_deploy.sh
  when: manual
  only:
    - master

smartfocus_production:
  image: driftrock/heroku-cli
  stage: deploy_production
  environment:
    name: staging
    url: https://node-api-production.herokuapp.com/
  variables:
    HEROKU_APP_NAME: node-api-production
  script:
    - docker run -e HEROKU_USER=${HEROKU_USER} -e HEROKU_PWD=${HEROKU_PWD} -e CI_ENVIRONMENT_NAME=${CI_ENVIRONMENT_NAME} -e HEROKU_APP_NAME=${HEROKU_APP_NAME} -e CI_BUILD_REF=${CI_BUILD_REF} -v $(pwd):/usr/src --entrypoint /bin/bash --workdir /usr/src driftrock/heroku-cli /usr/src/scripts/heroku_deploy.sh
  when: manual
  only:
    - master
