stages:
  - test
  - package
  - deploy_staging
  - deploy_production

cache:
  paths:
  - node_modules/

test_job:
  image: node:latest
  stage: test
  script:
    - npm install
    - npm test

package_job:
  image: docker:git
  services:
  - docker:dind
  stage: package
  script:
    - ls -la scripts/
    - ./scripts/gitlab_package.sh

deploy_staging_job:
  stage: deploy_staging
  environment: staging
  variables:
    ENVIRONMENT: "staging"
  script:
    - ./scripts/gitlab_deploy.sh

deploy_production_job:
  stage: deploy_production
  environment: production
  variables:
    ENVIRONMENT: "production"
  script:
    - ./scripts/gitlab_deploy.sh
